
body {
    background: #257188;
    font-family: Arial;
}
h1 {
    color: red;
}
/* hv7QCFkaAip710BTi8syX02Y9tadj7C7XICJ0K8QgJDrQy8vlUTg4xmAc7lb8SmSJ4qRQREqvqCmHVomVpw7CoObwXcOfTn1qCLm4IJXvio8val0wD6eS6uczON7SQv0Oj92AJUcVUvuhE6d6CreNtBTEsxYw27spcZZxGnOByCpuJelMqH3uk5junrsSZfRLb64l3SU */
